<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:dbinfo.properties" ignore-unresolvable="true"/>


    <bean class="redis.clients.jedis.JedisPool" id="jedisPool">
        <constructor-arg ref="jedisPoolConfig"/>
        <constructor-arg index="1" value="${redis.host}" type="java.lang.String" />
        <constructor-arg index="2" value="${redis.port}" type="int"/>
    </bean>
    <bean class="redis.clients.jedis.JedisPoolConfig" id="jedisPoolConfig">
        <property name="testOnBorrow" value="${redis.test.borrow}"/>
        <property name="maxTotal" value="${redis.max.total}"/>
        <property name="minIdle" value="${redis.min.idle}"/>
        <property name="maxIdle" value="${redis.max.idle}"/>
        <property name="testOnReturn" value="${redis.test.return}"/>
    </bean>
    <context:component-scan base-package="com.xrw.portal"/>

</beans>
